@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: small;
}


body {
    box-sizing: border-box;
    font-family: 'Poppins';
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-image: url(assets/barrels-whiskey-bourbon-aging-storage-facility.jpg);
    width: 115vw;
    height: 115vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}



.box {
    display: flex;
    justify-content: center;
}

.fundo {
    width: 50%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.header {
    width: 950px;

    display: flex;
    justify-content: center;
    
    
    nav {
        width: 1800px;
        border-bottom: solid 3px #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        
        
    }
    
    nav h4 {
        font-size: 20px;
        color: #fff;
        margin-left: 360px;
        margin-bottom: 10px;
        
    }
    
    nav img {
        display: flex;
        width: 30px;
        margin-bottom: 10px;
    }
    
}



.container {
    display: flex;
    flex-direction: row;  
    align-items: center;  
    justify-content: space-between;  
    width: 100%;  
    background-color: #fff;  
    padding: 20px;
    border-radius: 20px;
}



.input_cont {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    width: 100%; 
    padding: 50px;
}


.controle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100%;
}

.controle .texts {

    color: rgb(202, 19, 58);
    flex-direction: column;
    display: flex;
    justify-content: start;
    
    
}


input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #A9A9A9; 
    background-color: #fffafa;
    color: #C3155E;
    width: 390px;
    /* flex: 2; */
    
 
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: #C3155E;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #C3155E;
    width: 150px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    
}


.simulacao {
    width: 300px;
    height: 1px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: justify;
    /* padding: 0 20px; */
    font-size: 14px;
   
}

h1{
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.home {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 1px;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    border-radius: 20px;
}

.button_calculo{
    order: 1;
    margin-right: auto;
    display: zero;
    margin-left: 750px;
    margin-top: 5px;
}
.roxo{
    color:lightgreen;
}

.verde{
    color: lightskyblue;
}

.negrito{
    color: lightgreen;
}

.litrosvendidos{
    color: lightsalmon;
}

.bold{
    font-weight: bold;
    
}
.div_msg{
    width: 400px;  
    height: 10px;
  
      padding: 0px;    
    
     border-radius: 15px;
  margin-left: 50px;
     margin-top: 0px;   
     
}
.button_reset{
    
    margin-right: auto;
    display: zero;
    margin-left: 750px;
    margin-top: 5px;
    margin-bottom: 30px;
    
}
.button_container{
    display: flex;
    justify-content: flex-end; /* Para alinhar os botões horizontalmente */
    margin-top: 10px; /* Adicione margem superior para espaçamento */
}
.button_calculo, .button_reset, .button_retorno {
    margin: 0 10px; /* Adicione margem horizontal entre os botões */
}
.button_retorno{
    display: flex;
   margin-right: 400px;
}

.texto{
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    
    
}